body {
    background-color: yellow;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.menu {
    color: white;
    font-size: 25px;
    padding: 5px 25px;
    width: 200px;
    text-align: center;
}

.menu:hover {
    color: black;
    background-color: lightblue;
}

.active {
    color: yellow;
}

form {
    background-color: green;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    margin: 25px auto;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    font-size: 16px;
    background-color: lightgreen;
}

form button {
    padding: 15px;
    background-color: darkred;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

form button:hover {
    padding: 13px;
    font-size: 21px;
}

.succes {
    background-color: green;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    margin: 25px auto;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

.succes p {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    font-size: 16px;
    background-color: lightgreen;
    font-family:Arial, Helvetica, sans-serif;
}

@media (min-width: 800px) {
    nav {
        background-color: blue;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .menu {
        width: auto;
    }
    .active {
        background-color: red;
        color: white;
    }
}