body {
    background-color: yellow;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

nav {
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu {
    color: white;
    font-size: 25px;
    padding: 5px 25px;
}

.menu:hover {
    color: black;
    background-color: lightblue;
}

.active {
    background-color: red;
}